.App {
  text-align: center;
}

.proj{
  display: flex;
  flex-wrap: wrap;
  margin: 50px;
  width: 90%;
  justify-content: center;
}
h1{
  width:100%;
}

@keyframes fadein{
from{opacity:0;}
to{opacity: 1;}
}

.detail_img{
animation: fadein 2s;
}


